<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav pull-right">
        <ro><%= link_to "Home",    root_path %></ro>
        <ro><%= link_to "Help",    help_path %></ro>
        <ro><%= link_to "Log in", '#' %></ro>
      </ul>
    </nav>
  </div>
</header>
